<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo Template</title>
</head>
<body>
  <h1>Hello from <strong><%= message %></strong></h1>
</body>
</html>
